@import 'normalize';
@import 'mixins';

$magenta: #e80e8a;
$white: #fff;
$black: #000;
$grey: #999;

$break: 768px;

html {
    background-color: $black;
}

body {
     /* global styles */
    height: 100vh;
    color: #fff;
    background-color: $black;
    @include page-font-fam;
    font-size: 0;
    text-align: center;
    
    /* mobile styles */

    @media (min-width:$break) {
        /* desktop styles */
    }
}

a, a:link, a:hover, a:visited, a:active {
    color: $magenta;
    text-decoration: none;
}

a.ob-link {
  color: inherit;

  &:hover, &:focus {
    color: $magenta;
  }
}

.site-wrapper {
  width: 90%;
  max-width: 420px;
  height: inherit;
}

main {
  @include vertical-align;
}

.main-header {
  h1 {
    margin-top: 0;
    color: $magenta;
    font-family: 'Lobster', sans-serif;
    font-size: 3rem;
  }
}

.content-wrap {
  color: $white;
  font-size: 18px;
}

form {
  .input-group {
    input {
      height: 50px;
      border: 0;
      border-radius: 0;
      @include page-font-fam;
      font-size: 1.2rem;
      outline: none;
    }

    .btn {
      padding: 15px;
      border: 0;
      border-radius: 0;
      background-color: #dfdfdf;
      @include page-font-fam;
      vertical-align: top;

      &:hover, &:focus {
        color: $white;
        background-color: $magenta;
      }
    }
  }
}

.footer {
  margin-top: 6px;
  font-size: .8rem;
  color: $grey;
}

